.comicGreen {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 2px solid #4F7849;
    background-color: #EEEEEE;
    text-align: center;
    border-collapse: collapse;
  }
  .comicGreen td, table.comicGreen th {
    border: 1px solid #4F7849;
    padding: 3px 2px;
  }
  .comicGreen tbody td {
    font-size: 19px;
    font-weight: bold;
    color: #4F7849;
  }
  .comicGreen tr:nth-child(even) {
    background: #CEE0CC;
  }
  .comicGreen thead {
    background: #4F7849;    
    border-bottom: 1px solid #444444;
  }
  .comicGreen thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-left: 2px solid #D0E4F5;
  }
  .comicGreen thead th:first-child {
    border-left: none;
  }
  
  .comicGreen tfoot td {
    font-size: 21px;
  }
  div {
    display: flex;
    flex-direction: column;
}